.navigation {
  background-color: rgba(19, 18, 20, 0.952);
  color: white;
  
}

.srch {
  border: 1px solid black;
  border-radius:'7px';
  background-color: rgb(233, 174, 47);
  height: 58px;
  width:60px;
  color: black;

}

.search{
  border: 1px solid black;
  outline: 0px;
  width: 100%;
  height: 65px;
}

.search-icon{
  padding: 10px;
  background-color: rgb(233, 174, 47);
}

.hd {
  background-color: rgb(46, 46, 61);
  color: white;
  height: 100px;
  font-size: 20px;
  padding: 30px;
  padding-bottom: 5px;
}

.ft {
  width: 100%;
  color: white;
  border: none;
  height: 80px;
  font-size: 30px;
  background-color: #4a505f;
  padding: 5px;
  outline: none;
}

.ft:hover {
  height: 100px;
  font-size: 50px;
  outline: none;
  border: none;
}

.ft1 {
  color: white;
  border: none;
  height: fit-content;
  
  background-color: #151e35;
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 100px;
}

.ft2 {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ft3 {
  background-color: #080c18;
  color: white;
  padding: 50px;
}

#slct {
  margin-left: 200px;
  margin-bottom: 40px;
  background-color:#151e35;
  border: 1px solid grey;
  outline: none;
  color: white;
  width: 250px;
  border-radius: 7px;
  padding: 15px;
  height: 75px;
  font-size: 25px;
}

.hdln {
  width: 2000;
  padding: 7px;
  background-color: rgb(247, 245, 245);
  color: black;
  font-size: 30px;
}

.ci {
  height: 1800px;
  background-color:rgb(223, 219, 219);
}